.logo {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 137px;
}
.headImage {
  width: 100%;
}
.form {
  @media only screen and (min-width: 768px) {
    padding-left: 140px;
  }
  //   .inputGroup {

  //     margin: 0 auto;
  //   }
  .input {
    border-radius: 15px;
    width: 80%;
    height: 50px;
    margin: 0 auto;
  }
  .formCheck {
    border: 1px solid #ced4da;
  }
  .subminBtn {
    border-radius: 7px;
    width: 80%;
    margin: 25px auto;
  }
}
