@import 'styles/vars.scss';

.wrapper {
  padding: 0px;

  label {
    padding: 10px 22px 10px 46px;
    cursor: pointer;
    box-shadow: 0px 15px 19px rgba(0, 0, 0, 0.03);
    border-radius: 12px;
    background: #fdfdfd;
    font-size: 16px;
    color: $primary;
    white-space: nowrap;

    &::before,
    &::after {
      left: 18px;
      top: 15px;
    }
  }
}
