.wrapper {
  @media screen and (min-width: 1200px) {
    padding: 20px 292px;
  }
  padding-top: 15px;
  background-color: #2f3a4a;
  color: #ffffff !important;
  .icon {
    background-color: #ffffff;
    padding: 7px;
    border-radius: 50%;
    color: #000000;
    margin: 8px;
  }
}
