.boardingHouse__Container {
  border: 1px solid #bbbbbb;
  width: 104px;
  height: 87px;
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.property__Container {
  text-align: center;
  margin: 3rem;
  @media only screen and (max-width: 711px) {
    margin: 0.5rem;
  }
}

.boardingHouse__Container:hover {
  background-color: #b3dcf5;
  border: 1px solid #000000 !important;
  //   .boardingHouse {
  //     // filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
  //     //   brightness(104%) contrast(97%);
  //     filter: invert(99%) sepia(30%) saturate(3304%) hue-rotate(75deg) brightness(100%)
  //       contrast(95%);
  //   }
}
.boardingHouse__ContainerHover {
  background-color: #b3dcf5;
  border: 1px solid #000000 !important;
}
.boardingHouse__Container {
  position: relative;
  transition: background-color 400ms, border 400ms;
}

// .boardingHouse {
//   position: relative;
//   transition: filter 400ms;
// }
