.wrapper {
  padding: 0px 132px;
  background-position: 5% 5%, 100% 10%, 100% 80%, bottom;
  background-repeat: no-repeat;
  background-size: auto, auto, auto, cover;
  min-height: 100vh;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
      margin: 12px;
    }
  }
}
